<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>BEGIN</title>
		<link rel="icon" href="/nstatic/img/bg.png">
		<link rel="stylesheet" href="/nstatic/css/default-assets/notification.css">
		<link rel="stylesheet" href="/nstatic/css/c3.min.css">

		<link rel="stylesheet" href="/nstatic/style.css?v=1">

	</head>

	<body>
		<!-- Preloader -->
		<div class="admetro-page-wrapper">
			<!-- Sidemenu Area -->
			{include file='home/menu'}


			{include file='home/qianbao'}
		</div>


		<!-- Main Content Area -->
		<div class="main-content">
			<div class="container-fluid">


				<div class="sc-hkeOVe jnRNzj">
					<div height="100%" class="sc-gKAaRy bziaSQ">
						<div width="100%" class="sc-gKAaRy sc-iCoGMd sc-kGVuwA bMUJym eilRWe cKJMSe">
							<div class="sc-gKAaRy sc-dwxYdI eXsKmp iycgkA sc-bA-DTon jlHvZK">
								<div class="sc-gKAaRy sc-fTZpSt KhHSq guGLMe sc-eEnULY gcevQO">
									<div class="sc-gKAaRy sc-dwxYdI eXsKmp iycgkA sc-bTJQgd crMrTS">
										<h1 scale="xl" color="text" class=" sc-jJMGnK kYzmFY YRVmv" style="font-size:28px">
											BEGIN NFT </h1>
										<div color="text" class=" jZlssA">NFT 主要用於推動新時代對於NFT的改革
										</div>
										<div color="text" class=" jZlssA">BEGIN NFT 始於創新 勇於突破 引領行業標竿
										</div>
									</div>
								</div>
								<div class="sc-gKAaRy sc-dwxYdI eXsKmp iycgkA sc-gVtoEh eGGgEq sc-hDlsYP ecurBO">
									<div class="sc-epOimh fGJuOj"></div>
									<div class="sc-gKAaRy sc-iCoGMd KhHSq dsUcox">
										<div class="sc-gKAaRy sc-iCoGMd sc-gLwjMs iJwdjN eeQXSB kXMrwG">
											<div class="sc-iwajpm cNtwyy sc-fpqIuI ReTjv">
												<div color="text" class=" izfycS">
													Bear
												</div>
												<div color="text" class=" jZlssA">
													
												</div>
												<div color="text" class=" ieQmxY">
												    
												    
												</div>
											</div>
											<h2 color="text" class=" sc-jJMGnK iLrXJG ifKauL">铸造你的METAYC画板</h2>
											<div
												class="sc-gKAaRy sc-euEtCV KhHSq gOeIbK sc-hgIrPW sc-gSiFqf bDIhnP khfNVg">
												<div height="100%" class="sc-gKAaRy sc-iCoGMd bziaSQ eBUCzC">
													<button class="sc-hKFxyN gcVFcC" scale="md">点击铸造</button>
												</div>
											</div>
											<div class="sc-gKAaRy sc-iCoGMd KhHSq eilRWe">
												<div color="text" class=" KMjwD">
													<span>现在你有<span
															style="margin: 0.2em;font-size: 18px; font-weight: bold; color: #ADE58A">0</span>
														METAYC 绘图板</span>
												</div>
												<a href="javascript:;" color="primary"
													class=" sc-dPaNzc jEjhVi fqbJCS"
													style="font-size:16px">挑选你的METAYC风格</a>
											</div>
										</div>
										<br />
										<div class="sc-gKAaRy KhHSq">
											<div class="sc-iwajpm cUAEYb sc-gwWxmB kduQZF">
												<div class="sc-gKAaRy sc-iCoGMd KhHSq eilRWe" style="height:200px">
													<div class="sc-hiKfDv kANetL"><img src="/nstatic/img/yc-nft.png"
															class="sc-cBoqAE kzPIDt"></div>
													<div class="sc-gKAaRy sc-cOohKt KhHSq eDPohO"></div>
													<div class="sc-gKAaRy sc-iCoGMd KhHSq eyUIbn">
														<h2 color="text" class=" sc-jJMGnK kYzmFY ifKauL">
															METAYC（Metaverse Ape游艇俱乐部）绘图板</h2>
														<div color="text" class=" jZlssA">艺术家:Metatime
															official
														</div>
														<!--<div font-size="14px" color="textSubtle"-->
														<!--	class=" jhupGi">-->
														<!--	<span>现在你有<span-->
														<!--			style="margin: 0.2em;font-size: 18px; font-weight: bold; color: #ADE58A">0</span>-->
														<!--		METAYC 绘图板</span>-->
														<!--</div>-->
														<a href=""
															color="primary" class="sc-gtsrHT sc-dPaNzc eQIiEf fqbJCS">
															<button class="sc-hKFxyN gcVFcC pancake-button--disabled"
																disabled="" scale="md">挑选你的METAYC风格
															</button>
														</a>
													</div>
												</div>
											</div>

										</div>
										<div class="sc-gKAaRy KhHSq">
											<div class="sc-iwajpm cUAEYb sc-gwWxmB kduQZF">
												<div class="sc-gKAaRy sc-iCoGMd KhHSq eilRWe" style="height:200px">
													<div class="sc-hiKfDv kANetL"><img src="/nstatic/img/yc-nft.png"
															class="sc-cBoqAE kzPIDt"></div>
													<div class="sc-gKAaRy sc-cOohKt KhHSq eDPohO"></div>
													<div class="sc-gKAaRy sc-iCoGMd KhHSq eyUIbn">
														<h2 color="text" class=" sc-jJMGnK kYzmFY ifKauL">
															METAYC（Metaverse Ape游艇俱乐部）绘图板</h2>
														<div color="text" class=" jZlssA">艺术家:Metatime
															official
														</div>
														<!--<div font-size="14px" color="textSubtle"-->
														<!--	class=" jhupGi">-->
														<!--	<span>现在你有<span-->
														<!--			style="margin: 0.2em;font-size: 18px; font-weight: bold; color: #ADE58A">0</span>-->
														<!--		METAYC 绘图板</span>-->
														<!--</div>-->
														<a href=""
															color="primary" class="sc-gtsrHT sc-dPaNzc eQIiEf fqbJCS">
															<button class="sc-hKFxyN gcVFcC pancake-button--disabled"
																disabled="" scale="md">挑选你的METAYC风格
															</button>
														</a>
													</div>
												</div>
											</div>

										</div>
										<div class="sc-gKAaRy KhHSq">
											<div class="sc-iwajpm cUAEYb sc-gwWxmB kduQZF">
												<div class="sc-gKAaRy sc-iCoGMd KhHSq eilRWe" style="height:200px">
													<div class="sc-hiKfDv kANetL"><img src="/nstatic/img/yc-nft.png"
															class="sc-cBoqAE kzPIDt"></div>
													<div class="sc-gKAaRy sc-cOohKt KhHSq eDPohO"></div>
													<div class="sc-gKAaRy sc-iCoGMd KhHSq eyUIbn">
														<h2 color="text" class=" sc-jJMGnK kYzmFY ifKauL">
															METAYC（Metaverse Ape游艇俱乐部）绘图板</h2>
														<div color="text" class=" jZlssA">艺术家:Metatime
															official
														</div>
														<!--<div font-size="14px" color="textSubtle"-->
														<!--	class=" jhupGi">-->
														<!--	<span>现在你有<span-->
														<!--			style="margin: 0.2em;font-size: 18px; font-weight: bold; color: #ADE58A">0</span>-->
														<!--		METAYC 绘图板</span>-->
														<!--</div>-->
														<a href=""
															color="primary" class="sc-gtsrHT sc-dPaNzc eQIiEf fqbJCS">
															<button class="sc-hKFxyN gcVFcC pancake-button--disabled"
																disabled="" scale="md">挑选你的METAYC风格
															</button>
														</a>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		</div>
		</div>

		<!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

		<!-- Must needed plugins to the run this Template -->
		<script src="/nstatic/js/jquery.min.js"></script>
		<script src="/nstatic/js/popper.min.js"></script>
		<script src="/nstatic/js/bootstrap.min.js"></script>
		<script src="/nstatic/js/admetro.bundle.js"></script>

		<!-- Active JS -->
		<script src="/nstatic/js/default-assets/active.js"></script>

		<!-- These plugins only need for the run this page -->
		<script src="/nstatic/js/default-assets/todolist.js"></script>
		<script src="/nstatic/js/default-assets/bootstrap-growl.min.js"></script>
		<script src="/nstatic/js/default-assets/bootstrap-growl-active.js"></script>

		<script src="/nstatic/js/default-assets/sparkline-small.js"></script>
		<script src="/nstatic/js/default-assets/sparkline.min.js"></script>
		<script src="/nstatic/js/default-assets/sparkline.js"></script>
		<script src="/nstatic/js/default-assets/chart-sparkline.js"></script>
		<script src="/nstatic/js/amcharts.js"></script>
		<script src="/nstatic/js/serial.js"></script>
		<script src="/nstatic/js/light.js"></script>
		<script src="/nstatic/js/default-assets/column-barchart.js"></script>
		<script src="/nstatic/js/default-assets/line-and-areachart.js"></script>

		<script src="/nstatic/js/d3.min.js"></script>
		<script src="/nstatic/js/c3.min.js"></script>
		<script src="/nstatic/js/default-assets/c3-api-chart.js"></script>
		<script src="/nstatic/js/default-assets/c3-chart-script.js"></script>
	</body>

</html>
