<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>BEGIN</title>
		<link rel="icon" href="/nstatic/img/bg.png">
		<link rel="stylesheet" href="/nstatic/css/default-assets/notification.css">
		<link rel="stylesheet" href="/nstatic/css/c3.min.css">

		<link rel="stylesheet" href="/nstatic/style.css?v=1">

	</head>
    <style>
        .gCyGYV{
            width:100%;
            position:none;
        }
    </style>
	<body>
		<!-- Preloader -->
		<div id="preloader"></div>

		<div class="admetro-page-wrapper">
			<!-- Sidemenu Area -->
			{include file='home/menu'}

			<!-- Page Content -->
			{include file='home/qianbao'}
		</div>
			<!-- Main Content Area -->
			<div class="main-content">
				<div class="container-fluid">

                    <br/>
					<div class="sc-hkeOVe jnRNzj">
						<div height="100%" class="sc-gKAaRy bziaSQ">
							<div width="100%" class="sc-gKAaRy sc-iCoGMd sc-kGVuwA bMUJym eilRWe cKJMSe">
								<div class="sc-gKAaRy sc-dwxYdI eXsKmp sc-bA-DTon jlHvZK">
									<div class="sc-gKAaRy sc-dwxYdI eXsKmp sc-lcmwCJ ezaeWY mt-50">
										<div class="sc-gKAaRy sc-iCoGMd sc-bfmRie KhHSq gqDQRR ceoHCz">
											<div class="sc-iwajpm cNtwyy sc-ektJcd jdoDO">
												<div class="sc-gKAaRy sc-iCoGMd KhHSq dsUcox">
													<div class="sc-gKAaRy ibbAyg">
														<div font-size="14px" color="textSubtle"
															class=" kyIlDy"><?php echo la('b65');?>
														</div>
														<div font-size="30px" color="text" class=" oNaZp">
															{$risk.b1}
														</div>
													</div>
													<div class="sc-gKAaRy KhHSq">
														<div font-size="14px" color="textSubtle"
															class=" kyIlDy">
															<?php echo la('b66');?>
														</div>
														<div font-size="30px" color="text" class=" oNaZp">
															{$risk.b2}
														</div>
													</div>
												</div>
												
											</div>
											
										</div>
									</div>
									<div class="sc-gKAaRy sc-dwxYdI eXsKmp iycgkA sc-gVtoEh eGGgEq sc-cBsszO cknnvM">
										<div class="sc-gKAaRy sc-iCoGMd iqSMyS dsUcox">
											<h2 color="text" class=" sc-jJMGnK czFwcv ifKauL">
												<?php echo la('b67');?></h2>
											<!--<div color="text" class=" bwZXVm">-->
											<!--	<span>所有的交易量将会按比例挖取新区块的DSG产出。因而交易量类似“矿机”，收割收益则会使“矿机”<span-->
											<!--			style="color: #FFB237">distoried</span> 失效</span></div>-->
										</div>
										<div class="sc-liAPKD iduFZN">
											<div class="sc-bcuVfI cVsISy">
												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
														<div class="sc-hiKfDv jorhL">
															<div
																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
																<img src="/upload/762ce6e6195ce183/eb17bdc2cee9bbbd.png"
																	class="sc-cBoqAE kzPIDt"></div>
														</div>
													</div>
													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
															<?php echo la('b68');?> V1</h2> <div><?php if($c1== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
														</div>
														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
															<div color="textPrimary" font-size="24px"
																class=" bHJDJu">
																200%
															</div>
														</div>
													</div>
												</div>
											</div>
											
										
											
											</div>
											
											<div class="sc-liAPKD iduFZN">
											<div class="sc-bcuVfI cVsISy">
												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
														<div class="sc-hiKfDv jorhL">
															
															<!--<div-->
															<!--	class="sc-hiKfDv jorhL sc-jcwpoC sc-iTVJFM cYXcvg hUkhKd">-->
															<!--	<img src="/upload/3740239d74858504/f5345365a1e3eb33.png"-->
															<!--		class="sc-cBoqAE kzPIDt"></div>-->
															<div
																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
																<img src="/upload/51fcc99b84043254/79545c56d823d6ae.png"
																	class="sc-cBoqAE kzPIDt"></div>
														</div>
													</div>
													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
																<?php echo la('b68');?> V2</h2><div><?php if($c2== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
														</div>
														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
															<div color="textPrimary" font-size="24px"
																class=" bHJDJu">
																300%
															</div>
														</div>
													</div>
												</div>
												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">可領取獎勵-->
												<!--	</div>-->
												<!--	<div color="text" class=" kYzmFY">{$n2}</div>-->
												<!--</div>-->
												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">总交易额-->
												<!--	</div>-->
												<!--	<div color="text" class=" kYzmFY">{$n2_sum}</div>-->
												<!--</div>-->
												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">当前交易额-->
												<!--	</div>-->
												<!--	<div color="text" class=" kYzmFY">{$risk.b3}</div>-->
												<!--</div>-->
												<!--<div class="sc-lfesFf bMtKWQ"></div>-->
												<!--<div class="sc-gKAaRy sc-hDrgck KhHSq kWZSjZ">-->
												<!--	<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
												<!--		<div class="sc-gKAaRy KhHSq">-->
												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
												<!--				My total-->
												<!--				rewards-->
												<!--			</div>-->
												<!--			<div width="80" height="24"-->
												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
												<!--		</div>-->
												<!--		<div class="sc-gKAaRy KhHSq">-->
												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
												<!--				My-->
												<!--				volume-->
												<!--			</div>-->
												<!--			<div width="80" height="24"-->
												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
												<!--		</div>-->
												<!--	</div>-->
												<!--	<div class="sc-gKAaRy kSqLOw">-->
												<!--		<div width="120" height="48"-->
												<!--			class="sc-FRrlG sc-fXazdy gDlWjX liFscv"></div>-->
												<!--	</div>-->
												<!--</div>-->
											</div>
											
										
											
											</div>
											
											<div class="sc-liAPKD iduFZN">
    											<div class="sc-bcuVfI cVsISy">
    												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
    													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
    														<div class="sc-hiKfDv jorhL">
    															
    															<!--<div-->
    															<!--	class="sc-hiKfDv jorhL sc-jcwpoC sc-iTVJFM cYXcvg hUkhKd">-->
    															<!--	<img src="/upload/3740239d74858504/f5345365a1e3eb33.png"-->
    															<!--		class="sc-cBoqAE kzPIDt"></div>-->
    															<div
    																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
    																<img src="/upload/57c8aea9cf5c930d/0f972ba8db62e2e6.png"
    																	class="sc-cBoqAE kzPIDt"></div>
    														</div>
    													</div>
    													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
    															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
    																<?php echo la('b68');?> V3</h2><div><?php if($c3== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
    															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
    														</div>
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
    															<div color="textPrimary" font-size="24px"
    																class=" bHJDJu">
    																500%
    															</div>
    														</div>
    													</div>
    												</div>
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">可領取獎勵-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$n3}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">总交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$n3_sum}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">当前交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$risk.b3}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-lfesFf bMtKWQ"></div>-->
    												<!--<div class="sc-gKAaRy sc-hDrgck KhHSq kWZSjZ">-->
    												<!--	<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My total-->
    												<!--				rewards-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My-->
    												<!--				volume-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--	</div>-->
    												<!--	<div class="sc-gKAaRy kSqLOw">-->
    												<!--		<div width="120" height="48"-->
    												<!--			class="sc-FRrlG sc-fXazdy gDlWjX liFscv"></div>-->
    												<!--	</div>-->
    												<!--</div>-->
    											</div>
											
										
											
											</div>
											
											
											<div class="sc-liAPKD iduFZN">
    											<div class="sc-bcuVfI cVsISy">
    												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
    													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
    														<div class="sc-hiKfDv jorhL">
    															
    															<!--<div-->
    															<!--	class="sc-hiKfDv jorhL sc-jcwpoC sc-iTVJFM cYXcvg hUkhKd">-->
    															<!--	<img src="/upload/3740239d74858504/f5345365a1e3eb33.png"-->
    															<!--		class="sc-cBoqAE kzPIDt"></div>-->
    															<div
    																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
    																<img src="/upload/4508fb010f2271dd/e944dc4fe2fda7bd.png"
    																	class="sc-cBoqAE kzPIDt"></div>
    														</div>
    													</div>
    													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
    															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
    																<?php echo la('b81');?> V1</h2><div><?php if($c4== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
    															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
    														</div>
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
    															<div color="textPrimary" font-size="24px"
    																class=" bHJDJu">
    																19%
    															</div>
    														</div>
    													</div>
    												</div>
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">可領取獎勵-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v1}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">总交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v1_sum}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">当前交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$risk.b4}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-lfesFf bMtKWQ"></div>-->
    												<!--<div class="sc-gKAaRy sc-hDrgck KhHSq kWZSjZ">-->
    												<!--	<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My total-->
    												<!--				rewards-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My-->
    												<!--				volume-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--	</div>-->
    												<!--	<div class="sc-gKAaRy kSqLOw">-->
    												<!--		<div width="120" height="48"-->
    												<!--			class="sc-FRrlG sc-fXazdy gDlWjX liFscv"></div>-->
    												<!--	</div>-->
    												<!--</div>-->
    											</div>
											
										
											
											</div>
											
											
											<div class="sc-liAPKD iduFZN">
    											<div class="sc-bcuVfI cVsISy">
    												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
    													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
    														<div class="sc-hiKfDv jorhL">
    															
    															<!--<div-->
    															<!--	class="sc-hiKfDv jorhL sc-jcwpoC sc-iTVJFM cYXcvg hUkhKd">-->
    															<!--	<img src="/upload/3740239d74858504/f5345365a1e3eb33.png"-->
    															<!--		class="sc-cBoqAE kzPIDt"></div>-->
    															<div
    																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
    																<img src="/upload/274dd6a5596ec202/0e81fbc8af7a6010.png"
    																	class="sc-cBoqAE kzPIDt"></div>
    														</div>
    													</div>
    													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
    															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
    																<?php echo la('b81');?> V2</h2><div><?php if($c5== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
    															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
    														</div>
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
    															<div color="textPrimary" font-size="24px"
    																class=" bHJDJu">
    																18%
    															</div>
    														</div>
    													</div>
    												</div>
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">可領取獎勵-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v2}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">总交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v2_sum}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">当前交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$risk.b4}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-lfesFf bMtKWQ"></div>-->
    												<!--<div class="sc-gKAaRy sc-hDrgck KhHSq kWZSjZ">-->
    												<!--	<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My total-->
    												<!--				rewards-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My-->
    												<!--				volume-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--	</div>-->
    												<!--	<div class="sc-gKAaRy kSqLOw">-->
    												<!--		<div width="120" height="48"-->
    												<!--			class="sc-FRrlG sc-fXazdy gDlWjX liFscv"></div>-->
    												<!--	</div>-->
    												<!--</div>-->
    											</div>
											
										
											
											</div>
											
											<div class="sc-liAPKD iduFZN">
    											<div class="sc-bcuVfI cVsISy">
    												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
    													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
    														<div class="sc-hiKfDv jorhL">
    															
    															<!--<div-->
    															<!--	class="sc-hiKfDv jorhL sc-jcwpoC sc-iTVJFM cYXcvg hUkhKd">-->
    															<!--	<img src="/upload/3740239d74858504/f5345365a1e3eb33.png"-->
    															<!--		class="sc-cBoqAE kzPIDt"></div>-->
    															<div
    																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
    																<img src="/upload/82da133759b19175/de8ce7457f96b922.png"
    																	class="sc-cBoqAE kzPIDt"></div>
    														</div>
    													</div>
    													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
    															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
    																<?php echo la('b81');?> V3</h2><div><?php if($c6== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
    															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
    														</div>
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
    															<div color="textPrimary" font-size="24px"
    																class=" bHJDJu">
    																16%
    															</div>
    														</div>
    													</div>
    												</div>
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">可領取獎勵-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v3}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">总交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v3_sum}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">当前交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$risk.b4}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-lfesFf bMtKWQ"></div>-->
    												<!--<div class="sc-gKAaRy sc-hDrgck KhHSq kWZSjZ">-->
    												<!--	<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My total-->
    												<!--				rewards-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My-->
    												<!--				volume-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--	</div>-->
    												<!--	<div class="sc-gKAaRy kSqLOw">-->
    												<!--		<div width="120" height="48"-->
    												<!--			class="sc-FRrlG sc-fXazdy gDlWjX liFscv"></div>-->
    												<!--	</div>-->
    												<!--</div>-->
    											</div>
											
										
											
											</div>
											
											<div class="sc-liAPKD iduFZN">
    											<div class="sc-bcuVfI cVsISy">
    												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
    													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
    														<div class="sc-hiKfDv jorhL">
    															
    															<!--<div-->
    															<!--	class="sc-hiKfDv jorhL sc-jcwpoC sc-iTVJFM cYXcvg hUkhKd">-->
    															<!--	<img src="/upload/3740239d74858504/f5345365a1e3eb33.png"-->
    															<!--		class="sc-cBoqAE kzPIDt"></div>-->
    															<div
    																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
    																<img src="/upload/f9130d3a687b1254/c3b447c31f31af58.png"
    																	class="sc-cBoqAE kzPIDt"></div>
    														</div>
    													</div>
    													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
    															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
    																<?php echo la('b81');?> V4</h2><div><?php if($c7== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
    															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
    														</div>
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
    															<div color="textPrimary" font-size="24px"
    																class=" bHJDJu">
    																14%
    															</div>
    														</div>
    													</div>
    												</div>
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">可領取獎勵-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v4}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">总交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v4_sum}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">当前交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$risk.b4}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-lfesFf bMtKWQ"></div>-->
    												<!--<div class="sc-gKAaRy sc-hDrgck KhHSq kWZSjZ">-->
    												<!--	<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My total-->
    												<!--				rewards-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My-->
    												<!--				volume-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--	</div>-->
    												<!--	<div class="sc-gKAaRy kSqLOw">-->
    												<!--		<div width="120" height="48"-->
    												<!--			class="sc-FRrlG sc-fXazdy gDlWjX liFscv"></div>-->
    												<!--	</div>-->
    												<!--</div>-->
    											</div>
											
										
											
											</div>
											
											<div class="sc-liAPKD iduFZN">
    											<div class="sc-bcuVfI cVsISy">
    												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
    													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
    														<div class="sc-hiKfDv jorhL">
    															
    															<!--<div-->
    															<!--	class="sc-hiKfDv jorhL sc-jcwpoC sc-iTVJFM cYXcvg hUkhKd">-->
    															<!--	<img src="/upload/3740239d74858504/f5345365a1e3eb33.png"-->
    															<!--		class="sc-cBoqAE kzPIDt"></div>-->
    															<div
    																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
    																<img src="/upload/ca4c75f5bca48720/c0d993fd0fcce455.png"
    																	class="sc-cBoqAE kzPIDt"></div>
    														</div>
    													</div>
    													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
    															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
    																<?php echo la('b81');?> V5</h2><div><?php if($c8== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
    															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
    														</div>
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
    															<div color="textPrimary" font-size="24px"
    																class=" bHJDJu">
    																12%
    															</div>
    														</div>
    													</div>
    												</div>
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">可領取獎勵-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v5}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">总交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v5_sum}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">当前交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$risk.b4}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-lfesFf bMtKWQ"></div>-->
    												<!--<div class="sc-gKAaRy sc-hDrgck KhHSq kWZSjZ">-->
    												<!--	<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My total-->
    												<!--				rewards-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My-->
    												<!--				volume-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--	</div>-->
    												<!--	<div class="sc-gKAaRy kSqLOw">-->
    												<!--		<div width="120" height="48"-->
    												<!--			class="sc-FRrlG sc-fXazdy gDlWjX liFscv"></div>-->
    												<!--	</div>-->
    												<!--</div>-->
    											</div>
											
										
											
											</div>
											
											
											<div class="sc-liAPKD iduFZN">
    											<div class="sc-bcuVfI cVsISy">
    												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
    													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
    														<div class="sc-hiKfDv jorhL">
    															
    															<!--<div-->
    															<!--	class="sc-hiKfDv jorhL sc-jcwpoC sc-iTVJFM cYXcvg hUkhKd">-->
    															<!--	<img src="/upload/3740239d74858504/f5345365a1e3eb33.png"-->
    															<!--		class="sc-cBoqAE kzPIDt"></div>-->
    															<div
    																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
    																<img src="/upload/ce408b7c2d104868/b91e4b09febcb620.png"
    																	class="sc-cBoqAE kzPIDt"></div>
    														</div>
    													</div>
    													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
    															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
    																<?php echo la('b81');?> V6</h2><div><?php if($c9== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
    															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
    														</div>
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
    															<div color="textPrimary" font-size="24px"
    																class=" bHJDJu">
    																8%
    															</div>
    														</div>
    													</div>
    												</div>
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">可領取獎勵-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v6}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">总交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v6_sum}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">当前交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$risk.b4}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-lfesFf bMtKWQ"></div>-->
    												<!--<div class="sc-gKAaRy sc-hDrgck KhHSq kWZSjZ">-->
    												<!--	<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My total-->
    												<!--				rewards-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My-->
    												<!--				volume-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--	</div>-->
    												<!--	<div class="sc-gKAaRy kSqLOw">-->
    												<!--		<div width="120" height="48"-->
    												<!--			class="sc-FRrlG sc-fXazdy gDlWjX liFscv"></div>-->
    												<!--	</div>-->
    												<!--</div>-->
    											</div>
											
										
											
											</div>
											
											<div class="sc-liAPKD iduFZN">
    											<div class="sc-bcuVfI cVsISy">
    												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
    													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
    														<div class="sc-hiKfDv jorhL">
    															
    															<!--<div-->
    															<!--	class="sc-hiKfDv jorhL sc-jcwpoC sc-iTVJFM cYXcvg hUkhKd">-->
    															<!--	<img src="/upload/3740239d74858504/f5345365a1e3eb33.png"-->
    															<!--		class="sc-cBoqAE kzPIDt"></div>-->
    															<div
    																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
    																<img src="/upload/f4c977e086010e71/dc191e7ad288181b.png"
    																	class="sc-cBoqAE kzPIDt"></div>
    														</div>
    													</div>
    													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
    															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
    																<?php echo la('b81');?> V7</h2><div><?php if($c10== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
    															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
    														</div>
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
    															<div color="textPrimary" font-size="24px"
    																class=" bHJDJu">
    																6%
    															</div>
    														</div>
    													</div>
    												</div>
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">可領取獎勵-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v7}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">总交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v7_sum}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">当前交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$risk.b4}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-lfesFf bMtKWQ"></div>-->
    												<!--<div class="sc-gKAaRy sc-hDrgck KhHSq kWZSjZ">-->
    												<!--	<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My total-->
    												<!--				rewards-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My-->
    												<!--				volume-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--	</div>-->
    												<!--	<div class="sc-gKAaRy kSqLOw">-->
    												<!--		<div width="120" height="48"-->
    												<!--			class="sc-FRrlG sc-fXazdy gDlWjX liFscv"></div>-->
    												<!--	</div>-->
    												<!--</div>-->
    											</div>
											
										
											
											</div>
											
											
											<div class="sc-liAPKD iduFZN">
    											<div class="sc-bcuVfI cVsISy">
    												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
    													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
    														<div class="sc-hiKfDv jorhL">
    															
    															<!--<div-->
    															<!--	class="sc-hiKfDv jorhL sc-jcwpoC sc-iTVJFM cYXcvg hUkhKd">-->
    															<!--	<img src="/upload/3740239d74858504/f5345365a1e3eb33.png"-->
    															<!--		class="sc-cBoqAE kzPIDt"></div>-->
    															<div
    																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
    																<img src="/upload/aec3d4361cdfa58d/3772e20c92061d8e.png"
    																	class="sc-cBoqAE kzPIDt"></div>
    														</div>
    													</div>
    													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
    															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
    																<?php echo la('b81');?> V8</h2><div><?php if($c11== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
    															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
    														</div>
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
    															<div color="textPrimary" font-size="24px"
    																class=" bHJDJu">
    																4%
    															</div>
    														</div>
    													</div>
    												</div>
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">可領取獎勵-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v8}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">总交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v8_sum}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">当前交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$risk.b4}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-lfesFf bMtKWQ"></div>-->
    												<!--<div class="sc-gKAaRy sc-hDrgck KhHSq kWZSjZ">-->
    												<!--	<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My total-->
    												<!--				rewards-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My-->
    												<!--				volume-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--	</div>-->
    												<!--	<div class="sc-gKAaRy kSqLOw">-->
    												<!--		<div width="120" height="48"-->
    												<!--			class="sc-FRrlG sc-fXazdy gDlWjX liFscv"></div>-->
    												<!--	</div>-->
    												<!--</div>-->
    											</div>
											
										
											
											</div>
											
											
											<div class="sc-liAPKD iduFZN">
    											<div class="sc-bcuVfI cVsISy">
    												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
    													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
    														<div class="sc-hiKfDv jorhL">
    															
    															<!--<div-->
    															<!--	class="sc-hiKfDv jorhL sc-jcwpoC sc-iTVJFM cYXcvg hUkhKd">-->
    															<!--	<img src="/upload/3740239d74858504/f5345365a1e3eb33.png"-->
    															<!--		class="sc-cBoqAE kzPIDt"></div>-->
    															<div
    																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
    																<img src="/upload/f44cfe675df7f1a3/2e5b774e635bd783.png"
    																	class="sc-cBoqAE kzPIDt"></div>
    														</div>
    													</div>
    													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
    															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
    																<?php echo la('b81');?> V9</h2><div><?php if($c12== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
    															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
    														</div>
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
    															<div color="textPrimary" font-size="24px"
    																class=" bHJDJu">
    																2%
    															</div>
    														</div>
    													</div>
    												</div>
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">可領取獎勵-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v9}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">总交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v9_sum}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">当前交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$risk.b4}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-lfesFf bMtKWQ"></div>-->
    												<!--<div class="sc-gKAaRy sc-hDrgck KhHSq kWZSjZ">-->
    												<!--	<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My total-->
    												<!--				rewards-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My-->
    												<!--				volume-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--	</div>-->
    												<!--	<div class="sc-gKAaRy kSqLOw">-->
    												<!--		<div width="120" height="48"-->
    												<!--			class="sc-FRrlG sc-fXazdy gDlWjX liFscv"></div>-->
    												<!--	</div>-->
    												<!--</div>-->
    											</div>
											
										
											
											</div>
											
											
											<div class="sc-liAPKD iduFZN">
    											<div class="sc-bcuVfI cVsISy">
    												<div class="sc-gKAaRy sc-iCoGMd sc-eEihID ilDSRQ gSZEbO kDigEQ">
    													<div class="sc-gKAaRy sc-iCoGMd hggXZr eilRWe">
    														<div class="sc-hiKfDv jorhL">
    															
    															<!--<div-->
    															<!--	class="sc-hiKfDv jorhL sc-jcwpoC sc-iTVJFM cYXcvg hUkhKd">-->
    															<!--	<img src="/upload/3740239d74858504/f5345365a1e3eb33.png"-->
    															<!--		class="sc-cBoqAE kzPIDt"></div>-->
    															<div
    																class="sc-hiKfDv jorhL sc-jcwpoC sc-carFqZ cYXcvg gCyGYV">
    																<img src="/upload/8aa6237531363ae7/edb268871e87af89.png"
    																	class="sc-cBoqAE kzPIDt"></div>
    														</div>
    													</div>
    													<div class="sc-gKAaRy sc-iCoGMd KhHSq bQwYfx">
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq ckRkKl">
    															<h2 color="text" class=" sc-jJMGnK dssjzz ifKauL">
    																<?php echo la('b81');?> V10</h2><div><?php if($c13== 0){ echo la('b69');}else{ echo la('b70');}?> </div>
    															<div color="textSubtle" class=" cyKNNP"><?php echo la('b71');?></div>
    														</div>
    														<div class="sc-gKAaRy sc-iCoGMd KhHSq hA-DaBU">
    															<div color="textPrimary" font-size="24px"
    																class=" bHJDJu">
    																1%
    															</div>
    														</div>
    													</div>
    												</div>
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">可領取獎勵-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v10}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">总交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$v10_sum}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--	<div color="text" class=" sc-hGjceG izfycS biYrve">当前交易额-->
    												<!--	</div>-->
    												<!--	<div color="text" class=" kYzmFY">{$risk.b4}</div>-->
    												<!--</div>-->
    												<!--<div class="sc-lfesFf bMtKWQ"></div>-->
    												<!--<div class="sc-gKAaRy sc-hDrgck KhHSq kWZSjZ">-->
    												<!--	<div class="sc-gKAaRy sc-iCoGMd sc-eBqlGh KhHSq eilRWe cNRQml">-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My total-->
    												<!--				rewards-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--		<div class="sc-gKAaRy KhHSq">-->
    												<!--			<div color="text" class=" sc-hGjceG izfycS biYrve">-->
    												<!--				My-->
    												<!--				volume-->
    												<!--			</div>-->
    												<!--			<div width="80" height="24"-->
    												<!--				class="sc-FRrlG sc-fXazdy bUKvjW liFscv"></div>-->
    												<!--		</div>-->
    												<!--	</div>-->
    												<!--	<div class="sc-gKAaRy kSqLOw">-->
    												<!--		<div width="120" height="48"-->
    												<!--			class="sc-FRrlG sc-fXazdy gDlWjX liFscv"></div>-->
    												<!--	</div>-->
    												<!--</div>-->
    											</div>
											
										
											
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>

		<!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

		<!-- Must needed plugins to the run this Template -->
		<script src="/nstatic/js/jquery.min.js"></script>
		<script src="/nstatic/js/popper.min.js"></script>
		<script src="/nstatic/js/bootstrap.min.js"></script>
		<script src="/nstatic/js/admetro.bundle.js"></script>

		<!-- Active JS -->
		<script src="/nstatic/js/default-assets/active.js"></script>

		<!-- These plugins only need for the run this page -->
		<script src="/nstatic/js/default-assets/todolist.js"></script>
		<script src="/nstatic/js/default-assets/bootstrap-growl.min.js"></script>
		<script src="/nstatic/js/default-assets/bootstrap-growl-active.js"></script>

		<script src="/nstatic/js/default-assets/sparkline-small.js"></script>
		<script src="/nstatic/js/default-assets/sparkline.min.js"></script>
		<script src="/nstatic/js/default-assets/sparkline.js"></script>
		<script src="/nstatic/js/default-assets/chart-sparkline.js"></script>
		<script src="/nstatic/js/amcharts.js"></script>
		<script src="/nstatic/js/serial.js"></script>
		<script src="/nstatic/js/light.js"></script>
		<script src="/nstatic/js/default-assets/column-barchart.js"></script>
		<script src="/nstatic/js/default-assets/line-and-areachart.js"></script>

		<script src="/nstatic/js/d3.min.js"></script>
		<script src="/nstatic/js/c3.min.js"></script>
		<script src="/nstatic/js/default-assets/c3-api-chart.js"></script>
		<script src="/nstatic/js/default-assets/c3-chart-script.js"></script>
	</body>

</html>
