{extend name='akszadmin@main'}
{block name="content"}
<form onsubmit="return false;"  data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">
    <div class="think-box-shadow padding-40">
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs4 relative">
                <span class="color-green">网站名称</span>
                <input name="webname" class="layui-input" placeholder="请输入网站名称" value="{$vo.webname|default=''}" required>
            </label>
        </div>
        <!--<div class="layui-form-item layui-row layui-col-space15">-->
        <!--    <label class="layui-col-xs6 relative">-->
        <!--        <span class="color-green">客服链接</span>-->
        <!--        <input name="service" class="layui-input" placeholder="请输入客服链接" value="{$vo.service|default=''}" required>-->
        <!--    </label>-->
        <!--    <input name="app" type="hidden" required class="layui-input" placeholder="请输入APP下载连接" value="{$vo.app|default=''}">-->
        <!--</div>-->



        <!--<div class="layui-form-item layui-row layui-col-space15">-->

            
        <!--    <label class="layui-col-xs3 relative">-->
        <!--        <span class="color-green">开始提现时间(例：8:59)</span>-->
        <!--        <input name="cash_start" class="layui-input" placeholder="请输入开始提现时间" value="{$vo.cash_start|default=''}">-->
        <!--    </label>-->
        <!--    <label class="layui-col-xs3 relative">-->
        <!--        <span class="color-green">结束提现时间(例：17:59)</span>-->
        <!--        <input name="cash_end" class="layui-input" placeholder="请输入结束提现时间" value="{$vo.cash_end|default=''}">-->
        <!--    </label>-->
        <!--    <label class="layui-col-xs3 relative">-->
        <!--        <span class="color-green">每笔提现手续费百分比</span>-->
        <!--        <input name="cash_charge" class="layui-input" placeholder="请输入每笔提现手续费" value="{$vo.cash_charge|default=''}">-->
        <!--    </label>-->
            
        <!--</div>-->
        <!--<div class="layui-form-item layui-row layui-col-space15">-->
        <!--    <label class="layui-col-xs3 relative">-->
        <!--        <span class="color-green">最低提现金额</span>-->
        <!--        <input name="cash_min" class="layui-input" placeholder="请输入最低提现金额" value="{$vo.cash_min|default=''}">-->
        <!--    </label>-->
        <!--    <label class="layui-col-xs3 relative">-->
        <!--        <span class="color-green">单笔提现最大金额</span>-->
        <!--        <input name="cash_max" class="layui-input" placeholder="请输入单笔提现最大金额" value="{$vo.cash_max|default=''}">-->
        <!--    </label>-->
        <!--    <label class="layui-col-xs3 relative">-->
        <!--        <span class="color-green">当日累计最高提现金额</span>-->
        <!--        <input name="cash_day_max" class="layui-input" placeholder="请输入当日累计最高提现金额" value="{$vo.cash_day_max|default=''}">-->
        <!--    </label>-->
        <!--    <label class="layui-col-xs3 relative">-->
        <!--        <span class="color-green">每日最多提现次数</span>-->
        <!--        <input name="cash_max_num" class="layui-input" placeholder="请输入每日最多提现次数" value="{$vo.cash_max_num|default=''}">-->
        <!--    </label>-->
        <!--</div>-->
        <!--<div class="layui-form-item layui-row layui-col-space15">-->
        <!--    <label class="layui-col-xs6 relative">-->
        <!--        <span class="color-green">充值金额【以 | 符号隔开】</span>-->
        <!--        <input name="recharge_amount" class="layui-input" placeholder="请输入充值金额" value="{$vo.recharge_amount|default=''}">-->
        <!--    </label>-->
        <!--    <label class="layui-col-xs3 relative">-->
        <!--        <span class="color-green">单笔最小入金</span>-->
        <!--        <input name="recharge_min" class="layui-input" placeholder="请输入单笔最小入金" value="{$vo.recharge_min|default=''}">-->
        <!--    </label>-->
        <!--    <label class="layui-col-xs3 relative">-->
        <!--        <span class="color-green">单笔最大入金</span>-->
        <!--        <input name="recharge_max" class="layui-input" placeholder="请输入单笔最大入金" value="{$vo.recharge_max|default=''}">-->
        <!--    </label>-->
        <!--</div>-->
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">投资金额【以 | 符号隔开】</span>
                <input name="order_amount" class="layui-input" placeholder="请输入投资金额" value="{$vo.order_amount|default=''}">
            </label>
            <!--<label class="layui-col-xs3 relative">-->
            <!--    <span class="color-green">每笔平台收取手续费百分比</span>-->
            <!--    <input name="order_charge" class="layui-input" placeholder="请输入每笔平台收取手续费" value="{$vo.order_charge|default=''}">-->
            <!--</label>-->
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">单笔最低下单金额</span>
                <input name="order_min" class="layui-input" placeholder="请输入单笔最低下单金额" value="{$vo.order_min|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">单笔最高下单金额</span>
                <input name="order_max" class="layui-input" placeholder="请输入单笔最高下单金额" value="{$vo.order_max|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">最大持仓金额</span>
                <input name="order_max_amount" class="layui-input" placeholder="请输入最大持仓金额" value="{$vo.order_max_amount|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">最大持仓单数</span>
                <input name="order_max_count" class="layui-input" placeholder="请输入最大持仓单数" value="{$vo.order_max_count|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs12 relative">
                <span class="color-green">禁止IP<span class="color-red">（多个IP请用半角 , 号隔开）</span></span>
                <input name="ban_ip" class="layui-input" placeholder="请输入禁止IP（多个IP请用半角 , 号隔开）" value="{$vo.ban_ip|default=''}">
            </label>
        </div>

        <!-- <div class="layui-form-item block" style="display: none;">
            <span class="label-required-prev color-green">合约合同设置</span>
            <textarea name="contract">{$vo.contract|default=''|raw}</textarea>
        </div>

        <div class="layui-form-item block" style="display: none;">
            <span class="label-required-prev color-green">矿机合同设置</span>
            <textarea name="contract_kj">{$vo.contract_kj|default=''|raw}</textarea>
        </div> -->

        <div class="layui-form-item text-center">
            {notempty name='vo.id'}<input type="hidden" name="id" value="{$vo.id}">{/notempty}
            <button class="layui-btn" type="submit">保存设置</button>
        </div>
    </div>
</form>
{/block}
{block name='script'}
<script>
    window.form.render();
    require(['ckeditor', 'angular'], function () {
        window.createEditor('[name="contract"]', {height: 500});
        window.createEditor('[name="contract_kj"]', {height: 500});
    })
</script>
{/block}
