{extend name='akszadmin@main'}
{block name="content"}
<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">
    <div class="layui-card-body think-box-shadow padding-left-40">
        
        
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">今日光子合约总交易量</span>
                <input name="today" required class="layui-input" placeholder="今日光子合约总交易量" value="{$today|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs4 relative">
                <span class="color-green">分红交易量比例(%)</span>
                <input name="bili" required class="layui-input" placeholder="请输入分红交易量比例" value="1">
            </label>
        </div>

        <div class="layui-form-item text-center">

            <button class="layui-btn" type="submit">发放分红收益</button>
            <button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消</button>
        </div>
    </div>
</form>
{/block}
{block name='script'}
<script>
window.form.render();
require(['ckeditor', 'angular'], function() {
    window.createEditor('[name="content"]', { height: 500 });
    var app = angular.module("GoodsForm", []).run(callback);
    angular.bootstrap(document.getElementById(app.name), [app.name]);

    function callback($rootScope) {
        $rootScope.hsitoryBack = function() {
            $.msg.confirm('确定要取消吗？', function(index) {
                history.back(), $.msg.close(index);
            });
        };
    }

})
</script>
{/block}