{extend name='akszadmin@main'}

{block name="button"}
{if auth("akszadmin/goods/add")}
<!--<button data-open='{:url(ADMIN_MODULE."/goods/chuangshiadd")}' data-title="添加创始NFT" class='layui-btn layui-btn-sm layui-btn-primary'>添加创始NFT</button>-->
{/if}
{if auth("akszadmin/goods/remove")}
<!--<button data-action='{:url(ADMIN_MODULE."/goods/remove")}' data-rule="id#{key}" data-csrf="{:systoken('remove')}" class='layui-btn layui-btn-sm layui-btn-primary'>删除创始NFT</button>-->
{/if}
{/block}

{block name="content"}
<div class="think-box-shadow">

    <fieldset>
        <legend>条件搜索</legend>
        <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">请输入用户地址</label>
                <div class="layui-input-inline">
                    <input name="addr" value="{$Think.get.addr|default=''}" placeholder="请输入用户地址" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            </div>
        </form>
        <script>form.render()</script>
    </fieldset>

    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}&nbsp; &nbsp;&nbsp;&nbsp;
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='list-table-sort-td'>
                <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
            </th>
            <th class='text-left nowrap' width="20%">类型</th>
            <th class='text-left nowrap' width="20%">用户ID</th>
            <th class='text-left nowrap' width="15%">用户地址</th>
            <th class='text-left nowrap' width="15%">质押的BG</th>
            <th class='text-left nowrap' width="15%">收益的BGT</th>
            <th class='text-left nowrap' width="15%">上次收益时间</th>
            <!--<th class='text-left nowrap' width="15%">追加质押时间</th>-->
            <th class='text-left nowrap' width="15%">添加时间</th>
            <th class='text-left nowrap' width="15%">修改时间</th>
            <th class='text-left nowrap' width="15%">到期时间</th>
            <th class='text-left nowrap' width="15%">已收益天数</th>
            <th class='text-left nowrap' width="15%">状态</th>
            <th class='text-left nowrap' width="15%">操作</th>
            <th></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='text-left nowrap'>
                {$vo.id|default='--'}
            </td>
            <td class='text-left nowrap'>
                <?php
                    if($vo['type'] == 1)
                    {
                        echo '日利息'.$lixi['rilixi'].'%';
                    }
                    if($vo['type'] == 2)
                    {
                        echo '周利息'.$lixi['zhoulixi'].'%';
                    }
                    if($vo['type'] == 3)
                    {
                        echo '月利息'.$lixi['yuelixi'].'%';
                    }
                ?>
            </td>
            
            <td class='text-left nowrap'>
                {$vo.u_id|default='--'}
            </td>
            <td class='text-left nowrap'>
                {$vo.u_addr|default='--'}
            </td>

            <td class='text-left nowrap'>
                {$vo.amount|default='--'}
            </td>
         
             <td class='text-left nowrap'>
                {$vo.amount_bgb|default='--'}
            </td>

            <td class='text-left nowrap'>
                <?php echo date('Y-m-d H:i:s',$vo['re_time']);?>
            </td>
            <!--<td class='text-left nowrap'>-->
            <!--    <?php echo date('Y-m-d H:i:s',$vo['zhui_time']);?>-->
            <!--</td>-->
            <td class='text-left nowrap'>
                <?php echo date('Y-m-d H:i:s',$vo['add_time']);?>
            </td>
            <td class='text-left nowrap'>
                <?php echo date('Y-m-d H:i:s',$vo['update_time']);?>
            </td>
             <td class='text-left nowrap'>
                <?php echo date('Y-m-d H:i:s',$vo['dao_time']);?>
            </td>
            <td class='text-left nowrap'>
                {$vo.count}
            </td>
            <td class='text-left nowrap'>
                <?php
                if($vo['status'] == 1)
                {
                    echo '有效';
                }else{
                    echo '到期';
                }
                
                ?>
            </td>
            <!--<td class='text-left nowrap'>-->
            <!--     <a data-dbclick class="layui-btn layui-btn-sm" data-open='{:url(ADMIN_MODULE."/goods/chuangshiadd")}?id={$vo.id}'>编 辑</a>-->
            <!--</td>-->
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
